*,
::after,
::after,
html {
  box-sizing: border-box;
  /* background-color: #21232a; */
  font-family: "Courier New", Arial, Courier, monospace;
}

body {
  font-size: 1.3rem;
  padding: 60px;
}

.sombra {
  height: 0.5rem;
  background-color: rgba(0, 0, 0, 0.497);
}

input {
  width: 100%;
  font-size: 1.6rem;
  color: green;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  overflow: hidden; /* Para que el filo de las imagenes no se salgan del contenedor */
  margin-bottom: 10px;
  margin-right: 10px;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}
